.attributedImageWrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;

  > img {
    display: block;
    object-fit: cover;
  }

  > span {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.imgDefaultSizing {
  height: 100%;
  max-width: 100%;
}
