@use "../../sass/height-till-endscreen" as *;

$desc-margin: 2em;

@mixin smaller-screens() {
  @media screen and (width <= 60em) {
    @content;
  }
}

.productDetailedWrapper {
  @include height-till-endscreen($cancel-query: "(width <= 60em)");

  margin-top: 2.5em;
  padding: 0 6em;
  display: flex;
  justify-content: center;

  @include smaller-screens {
    padding: 0;
    margin-top: 0;
  }

  > figure {
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;

    @include smaller-screens {
      flex-direction: column;
      margin-bottom: 2em;
      max-width: 90%;
      font-size: 1.9vh;

      > img {
        height: 10em !important;
      }

      > figcaption {
        margin-left: $desc-margin;
      }
    }

    box-shadow: 0 0.4em 0.4em #c8c8c8;

    > img {
      padding: 3%;
      width: 50%;
      height: 20em;
      display: block;
      object-fit: contain;
    }

    > figcaption {
      padding: 2em 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;

      > h2 {
        font-weight: 900;
        font-size: 2.5em;
        padding-right: 2em;
      }

      flex: 1;
    }
  }
}

.price {
  font-weight: 900;
  font-size: 2em;
  padding-left: 0.5em;
}

.description {
  line-height: 1.4;
  padding-bottom: 0.5em;
  margin-right: $desc-margin;
  border-bottom: 1px solid #000;
}

.addToCartBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  > button {
    width: 70%;
    border-radius: 20em;
    align-self: center;

    @include smaller-screens {
      align-self: center;
      margin-right: $desc-margin;
    }
  }
}

.removeFromCartBtnWrapper {
  @extend .addToCartBtnWrapper;

  > button {
    background-color: white;
    color: black;
    border: 2px solid #000;
  }
}

.goBackLink {
  position: absolute;
  top: 2em;
  left: 1em;
}
