@use "../heading/variables" as *;
@use "../../sass/height-till-endscreen" as *;
@use "sass:map";

@mixin narrow-screens($unit-size: 20em) {
  @media screen and (width <= #{$unit-size}) {
    @content;
  }
}

@mixin wide-screens($unit-size: 20em) {
  @media screen and (width >= #{$unit-size}) {
    @content;
  }
}

.introText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  @include narrow-screens {
    min-height: 40em;
  }

  padding: 4em {
    right: 0;
  }

  @media screen and (width <= 1024px) {
    padding-right: 4em;
  }

  /* min-width: 35em; */

  > h2 {
    font-weight: 900;
    font-size: 4em;

    @include narrow-screens {
      font-size: 2.5em;
    }
  }

  > p {
    font-size: 1.5em;

    @include narrow-screens {
      font-size: 1.2em;
    }
  }

  > * {
    margin-bottom: 0.5em;
  }

  > a {
    margin-top: 2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10em;
    width: 9em;
    height: 3em;

    @media screen and (width <= 1024px) {
      height: 2em;
      font-size: 1.5em;
    }

    min-height: 3em;
    color: #fff;
    background-color: #000;
    padding: 0.5em;
  }

  > ul {
    $stat-size: 2em;

    @mixin one-side-border($side) {
      $opposite-side-map: (
        left: right,
        right: left,
        top: bottom,
        bottom: top,
      );
      $opposite-side: map.get($opposite-side-map, $side);

      &:nth-child(n + 2) {
        padding-#{$side}: $stat-size;
        border-#{$side}: 1px solid #000;
      }

      &:nth-last-child(n + 2) {
        padding-#{$opposite-side}: $stat-size;
      }
    }

    display: flex;
    margin-top: 2em;

    @include narrow-screens {
      flex-direction: column;
    }

    > li {
      @include wide-screens {
        @include one-side-border(left);
      }

      @include narrow-screens {
        > .companyStat {
          align-items: center;
        }

        @include one-side-border(top);
      }
    }
  }
}

.introImg {
  flex: 0.7;
}

.styleImg {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0 20em;

  @media screen and (width <= 1024px) {
    width: 40em;
  }
}

.introWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intro {
  flex: auto;
  display: flex;
  width: 100%;
  max-width: 120em;
  background-color: $input-color;

  /* @media screen and (width <= 90em) {
    min-height: 35em;
  }

  min-height: 28em;
  max-height: 50em; */

  br {
    display: none;
  }

  @media screen and (width <= 1024px) {
    flex-direction: column;
    max-height: none;
    height: unset;
    font-size: 0.7em;

    > .introText {
      align-items: center;
    }

    br {
      display: block;
    }

    a {
      width: 100%;
    }

    h2 {
      text-align: center;
    }
  }

  @include height-till-endscreen;

  /* height: calc(100vh - #{$heading-input-size + $heading-padding * 2}); */
}
