@use "../shop/_variables" as *;

.item {
  width: 100%;
  height: 100%;
  padding: 1em;

  .imgLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    align-self: center;
    height: 8em;

    @media screen and (width <= $relative-to-screen-threshold) {
      height: 5em;
    }

    object-fit: contain;
  }

  > figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    > figcaption {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 0.2em;

      > h3 {
        padding-top: 1em;
        min-height: 6em;
        padding-bottom: 0.4em;
      }
    }
  }
}

.addToCartBtnWrapper {
  align-self: end;

  @media screen and (width <= $relative-to-screen-threshold) {
    margin-top: 1.2em;
  }
}

.removeFromCartBtnWrapper {
  @extend .addToCartBtnWrapper;

  > button {
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
  }
}

.price {
  padding-top: 0.5em;
  font-weight: 900;
  font-size: 1.5em;
}
