@use "./media" as *;
@use "./-vars.scss" as *;

.list {
  flex: 2;
  border: 3px solid $white-bluesh;
  height: fit-content;
}

.listFigure {
  @include smaller-screens(33em) {
    flex-direction: column;
    align-items: center;
  }

  padding-bottom: 3em !important;
  gap: 1em;
  margin: 0.8em;
  border-bottom: 3px solid $white-bluesh;
}
