@use "../../sass/height-till-endscreen" as *;
@use "./media" as *;

.checkoutPage {
  @include smaller-screens($is-negative: true) {
    @include height-till-endscreen(
      $cancel-selector: "#{&}[data-should-go-beyond-viewport-height='true']"
    );
  }

  > h2 {
    font-size: 2em;
    font-weight: 900;
  }

  display: flex;
  flex-direction: column;

  @include smaller-screens {
    padding: 2em;
  }

  padding: 2em 8em;

  &.emptyCart {
    padding: 0 {
      top: 4em;
    }
    display: flex;
    align-items: center;

    > p {
      font-size: 1.5em;
      font-weight: 900;
    }
  }
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding-top: 3em;

  @include smaller-screens {
    flex-direction: column;
  }
}
