@use "./variables" as *;

.heading {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: $heading-padding;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;

  nav {
    height: 2em;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;

    &[href="/shop"] + output {
      position: absolute;
      bottom: -0.8em;
      right: -0.3em;
      background-color: green;
      color: #fff;
      border-radius: 200em;
      padding: 0.3em 0.5em;
    }
  }

  .onNarrowVisible {
    display: none;
  }

  @media screen and (width <= 760px) {
    > form {
      display: none;
    }

    > nav li {
      display: none;
    }

    .alwaysVisible,
    .onNarrowVisible {
      display: block;
    }
  }

  > h1 {
    font-size: 1.5em;
    font-weight: 900;
  }

  > h1,
  > form {
    flex: auto;
  }

  input {
    appearance: none;
    font: inherit;
    border-radius: 2em;
    border: none;
    background-color: $input-color;
    padding: 0.25em;
    width: 16em;
    height: $heading-input-size;

    &:focus {
      outline-width: 1px;
    }
  }

  > nav > ul {
    display: flex;
    gap: 1em;
    height: 100%;
  }
}
